.chat-conteudo{
    display: grid;
    grid-template-rows: 20px auto 80px;
    height: calc(100vh - 240px);

}

.chat-header{
text-align: center;
}


.chat-conversa{
overflow: auto;
}

#usertalk{
    /* margin-left:60%; */
  }
 
.usuario{
    padding: 7px 7px;
}

.iracema{
    padding: 7px 7px;
  
}

#textuser{
    border-radius: 50px 50px 50px 50px;
}

.chat-mensagem{
    padding: 2px 7px;
}


#fechar{
    margin-left: 85%;
}

#imgx{
    width: 20px;
    height: 20px;
}

#conteudo{
   background-color: #f4f4f4;
   border-radius: 8px 8px;
   display: none;
   position: relative;
   width: 100%;
}


#imgchat{
    position: fixed;
    width: 70vw;
    height: 85vh;
    top: 10%;
    left:25%;
}

#img{
    position: relative;
    z-index:4;
    margin: 3% 65%;
    width:40%;
    border-radius: 50%;
    top: 80%;
  
    animation: pulse 1s infinite;
    display: table;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
  }


  @keyframes pulse {
    0% {
      transform: scale(1);
     
    }
    100% {
      transform: scale(1.1);
     
    }
  }
  
   @-webkit-keyframes pulse {
    0% {
      -webkit-transform: scale(1);
     
    }
    100% {
      -webkit-transform: scale(1.1);
     
    }
  }
  